.profile-page {
    text-align: center;
}

.profile-page .circle {
    position: relative;
}

@media screen and (max-width: 500px){
    .profile-page .circle {
        position: relative;
    }
}

.profile-page img {
    width: 280px;
}
.enter-profile {
    text-align: center;
}