.profile-page {
    text-align: center;
}

.profile-page .circle {
    position: relative;
}

.profile-page img {
    width: 280px;
}

.enter-profile {
    text-align: center;
}
.titles-border {
    border-bottom: 1px solid black;
}

#navigation-bar {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.projects {
    height: 100vh;
}

.projects-css {
    min-height: 90vh;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-experience-box {
    background-color: white !important;
    border: rgba(0, 0, 0, .5) 1px solid;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-custom-box {
    height: 50vh;
    width: 50vw;
    color: rgba(0, 0, 0, .5);
    /* box-shadow: 21px 24px 28px #888888, 10px 10px 7px #888888; */
}

.work-experience-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

@media screen and (max-width: 500px) {
    .profile-page .circle {
        position: relative;
        margin-top: -20px;
    }
    .text-secondary{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .name-css{
        margin-top: 2rem;
    }
    .projects-css {
        flex-direction: column;
    }
    .card {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .carousel-custom-box {
        height: 50vh;
        width: 80vw;
        color: rgba(0, 0, 0, .5);
        /* box-shadow: 21px 24px 28px #888888, 10px 10px 7px #888888; */
    }
}
.titles{
    text-align: center;
    margin-bottom: -2rem;
}
